<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top shadow-sm">
  <div class="container">
    <a class="navbar-brand fw-bold" href="{% url 'home' %}">🏔️ Adventure Nepal</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mainNav">
      <ul class="navbar-nav ms-auto align-items-lg-center">
        <li class="nav-item">
          <a class="nav-link {% if request.resolver_match.url_name == 'home' %}active{% endif %}" href="{% url 'home' %}">Home</a>
        </li>
       <li class="nav-item">
  <a class="nav-link {% if request.resolver_match.url_name == 'list' %}active{% endif %}" href="{% url 'treks:list' %}">Treks</a>
</li> 
       <li class="nav-item">
  <a class="nav-link {% if request.resolver_match.app_name == 'guides' %}active{% endif %}" href="{% url 'guides:list' %}">Guides</a>
</li>
        <li class="nav-item">
          <a class="nav-link {% if request.resolver_match.url_name == 'about' %}active{% endif %}" href="{% url 'about' %}">About</a>
        </li>
        <li class="nav-item"><a class="nav-link" href="{% url 'contact:contact' %}">Contact</a></li>
{% if user.is_authenticated %}
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
      {{ user.get_full_name|default:user.username }}
    </a>
    <ul class="dropdown-menu dropdown-menu-end">
  <li><a class="dropdown-item" href="{% url 'accounts:edit_profile' %}">Edit Profile</a></li>
  <li><a class="dropdown-item" href="{% url 'bookings:my_bookings' %}">My Bookings</a></li>
  <li><a class="dropdown-item" href="{% url 'admin:index' %}">Dashboard</a></li>
  <li><hr class="dropdown-divider"></li>
  <li>
    <form method="post" action="{% url 'accounts:logout' %}">
      {% csrf_token %}
      <button type="submit" class="dropdown-item">Logout</button>
    </form>
  </li>
</ul>
  </li>
{% else %}
  <li class="nav-item ms-lg-2">
    <a class="nav-link d-inline" href="{% url 'accounts:signup' %}">Sign Up</a>
  </li>
  <li class="nav-item ms-lg-2">
    <a class="btn btn-outline-light btn-sm px-3" href="{% url 'accounts:login' %}">Login</a>
  </li>
{% endif %}
      </ul>
    </div>
  </div>
</nav>